/* profile_styles.css
.profile-box {
    background-color: #FFA500;
    /* 주황색 배경
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    /* 글자 색상을 흰색으로 설정
}


/* profile_styles.css 
.profile-picture {
    width: 95px;
    /* 현재 크기의 1/4로 조정 
    max-height: 95px;
    /* 높이도 제한하여 세로 비율을 유지하도록 함 
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-item {
    background-color: #FFA500;
    /* 주황색 배경 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-item p {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    /* 글자 색상을 흰색으로 설정 
}


.profile-item strong {
    font-weight: bold;
}

.profile-item:last-child {
    margin-bottom: 0;
}  */