{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <title>중고거래 상세보기</title>
  <style>
    /* trade_post.css에서 스타일이 적용 안되서 임시로 인라인 스타일로 적용 */
    .profile-picture img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
  }
  </style>
</head>

<body>
  {% include 'dangun_app/nav.html' %}
  <div class="content-box">
    <div class="container column">
      <div class="post-box">
        {% block content %}
        <img src="{{ post.images.url }}" alt="{{ post.title }}" class="block-box">
        <div class="flex-box between info-button-box">
          <div class="user-info">
            <a href="{% url 'dangun_app:userprofile' post.user_id %}" class="profile-picture">
              <img src="#">
            </a>
            <div class="user-datails" style="text-align: left;">
              <h3 style="margin-bottom: 6px;">{{ post.user }}</h3>
              <p>{{ post.location }}</p>
            </div>
          </div>
          {% if request.user.username == post.user.username %}
          <div class="flex-box button-box">
            <a href="{% url 'dangun_app:edit' post.id %}">
              <button class="grey">수정하기</button>
            </a>
            <button class="grey" id="delete-post">삭제하기</button>
            <button class="orange">채팅보기</button>
          </div>
          {% else %}
          <div class="button-box">
            <a href="{% url 'dangun_app:chat' %}">
              <button class="orange">채팅하기</button>
            </a>
          </div>
          {% endif %}
        </div>
        <hr class="line">
        <div class="post-info-box">
          <div class="flex-box between">
            <h3>{{ post.title }}</h3>
            <h3>{{ post.price |intcomma}}
              원</h3>
          </div>
          <p>{{ post.description }}</p>
          <div class="location-views-box flex-box between">
            <p>희망 거래장소 |
              {{ post.location }}</p>
            <p>조회수
              {{ post.view_num }}</p>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  {% include 'dangun_app/footer.html' %}

</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const deleteButton = document.getElementById("delete-post");
      
      // 삭제 버튼을 클릭할 때
      deleteButton.addEventListener("click", function() {
        if (confirm("{{ post.title }} 물품을 삭제하시겠습니까?")) {
          // 확인을 눌렀을 때만 삭제 요청을 보냅니다.
          const postID = "{{ post.id }}"; // Django 템플릿 변수를 사용하여 포스트 ID를 가져옵니다.
    
          // AJAX 요청을 보냅니다.
          fetch("{% url 'dangun_app:delete_post' post.id %}", {
            method: "DELETE",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}", // CSRF 토큰을 요청 헤더에 포함합니다.
            },
          })
            .then(response => {
              if (response.ok) {
                // 성공적으로 삭제되면 페이지를 다시 로드하거나 리디렉션할 수 있습니다.
                alert("{{ post.title }} 물품이 삭제되었습니다.");
                window.location.href = "{% url 'dangun_app:trade' %}" // trade 페이지로
              } else {
                // 실패한 경우에 대한 처리
                alert("포스트 삭제에 실패했습니다.");
              }
            })
            .catch(error => {
              console.error("Error:", error);
            });
        }
      });
    });
    
</script>

</html>