{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <title>프로필</title>
</head>

<body>
    {% include 'dangun_app/nav.html' %}
    {% block content %}
    <div class="content-box">
        <div class="container column">
            <h1>프로필 정보</h1>

            <p><strong>닉네임:</strong> {{ user_profile.nickname }}</p>
            <p><strong>이메일:</strong> {{ user_profile.email }}</p>
            <p><strong>생년월일:</strong> {{ user_profile.birthdate }}</p>
            <p><strong>성별:</strong> {{ user_profile.get_gender_display }}</p>
            <p><strong>프로필 사진:</strong> <img src="{{ user_profile.profile_picture.url }}"></p>
            <p><strong>지역:</strong> {{ user_profile.region }}</p>

            {% if user_profile.manner_temperature %}
            <p>매너 온도: {{ user_profile.manner_temperature.average_temperature }}</p>
            {% else %}
            <p>매너 온도 정보 없음</p>
            {% endif %}

        </div>
    </div>
    {% endblock %}
    {% include 'dangun_app/footer.html' %}
</body>
<script src="{% static 'js/download_footer.js' %}"></script>

</html>

<!-- {{ userprofile.profile_picture.url }}" alt="{{ userprofile.nickname }}" width="150 -->