{% load custom_filter%}
{% load static%}{% load humanize %}
<!DOCTYPE html>
<html>

  <head>
    <title>거래 글쓰기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  </head>

  <body>
    {% include 'dangun_app/nav.html' %}
    <div class="content-box">
      <div class="container">

        {% block content %}
          <div class="about-trade">
            <div class="container">
              <form class="write-box" method="POST" action="{% if post %}{% url 'dangun_app:edit' post.id %}{% else %}{% url 'dangun_app:create_form' %}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-box">
                  <label class="img-upload">
                    <div class="image-slider">
                      <img src="{% if post %}{{ post.images.first.url }}{% else %}{% static 'img/icon_photo.png' %}{% endif %}" alt="이미지 설명" id="imagePreview">
                    </div>
                    
                    <input type="file" name="images" accept="image/*" multiple  style="display: none;" onchange="previewImage(event);">
                  </label>
                  <div>
                    <button id = "prevButton">&#10094;</button>
                    <button id = "nextButton">&#10095;</button>
                    <div class="flex-box column baseline title-box">
                      <label for="title">글 제목</label>
                      <input type="text" name="title" placeholder="글 제목" required="required" value="{% if post %}{{ post.title }}{% endif %}">
                      <label for=" price">가격</label>
                      <input type="text" name="price" placeholder="가격" required="required" value="{% if post %}{{ post.price }}{% endif %}">
                    </div>
                  </div>
                </div>
                <div class="full-box">
                  <label for="description" class="block-box">물품 설명</label>
                  <textarea name="description" required="required">
                    {% if post %}{{ post.description }}
                    {% endif %}
                  </textarea>

                </div>
                <div class="full-box">
                  <label for="location" class="block-box">거래 희망 장소</label>
                  <input type="text" name="location" placeholder="거래를 희망하는 장소" required="required" value="{% if post %}{{ post.location }}{% endif %}">
                </div>
                <div class="submit-button-box">
                  {% if post %}
                    <button type="submit">수정하기</button>
                  {% else %}
                    <button type="submit">전송</button>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/write.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            var images = [{% for image in post.images.all %}"{{ image.url }}",{% endfor %}];

            var currentIndex = 0;
            var maxIndex = images.length - 1;

            function showImage(index) {
                $("#imagePreview").attr("src", images[index]);
            }

            // 초기 이미지 표시
            showImage(currentIndex);

            // 이전 이미지 보기
            $("#prevButton").click(function() {
                event.preventDefault(); // 버튼 클릭 시 폼 제출 방지
                currentIndex = (currentIndex - 1 + images.length) % images.length;
                showImage(currentIndex);
            });

            // 다음 이미지 보기
            $("#nextButton").click(function() {
                event.preventDefault(); // 버튼 클릭 시 폼 제출 방지
                currentIndex = (currentIndex + 1) % images.length;
                showImage(currentIndex);
            });
        });
        </script>

      </body>

    </html>
